@using WebApplication2.Models;
@model WebApplication2.Models.Song

@{
    ViewBag.Title = "RandomPeaceful";
}

<h2>Random Peaceful Song</h2>



   <div class="containerPeaceful">
       
       <div class="row">
           <div class="col-md-12">
               <h4><b> @Html.DisplayFor(modelItem => Model.Name)</b></h4>
           </div>
       </div>
       <br>
        <div class="row">
            <div class="col-md-12">
                <h5><b> @Html.DisplayFor(modelItem => Model.Artist)</b></h5>
            </div>
         </div>
       <br>
        <div class="row">
            <div class="col-md-12">
                <div data-video="@Model.Link"
                     data-autoplay="0"
                     data-loop="1"
                     id="youtube-audio">

                </div>
            </div>
         </div>
    
   </div>


    <br />

    <ul class="nav navbar-nav navbar-left">

    <li>
        <button class="btn btn-default" onclick="location.href='/Peaceful/Choose'">Return to Peaceful</button>
    </li>



    <li>
        <button class="btn btn-default" onclick="location.href='/'">Return to Index</button>
    </li>


</ul>



<script src="https://www.youtube.com/iframe_api"></script>

<script src="https://cdn.rawgit.com/labnol/files/master/yt.js"></script>