@using WebApplication2.Models;
@model WebApplication2.Models.Song

@{
    ViewBag.Title = "RandomMelancholic";
}

<h2>Random Melancholic Song</h2>

<div class="containerMelancholic">

    <div class="row">
        <div class="col-md-12">
            <h4><b> @Html.DisplayFor(modelItem => Model.Name)</b></h4>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <h5><b> @Html.DisplayFor(modelItem => Model.Artist)</b></h5>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <iframe title="YouTube video player" width="425" height="25" src="http://www.youtube.com/embed/@Model.Link" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
   

</div>


<br />

<ul class="nav navbar-nav navbar-left">

    <li>
        <button class="btn btn-default" onclick="location.href='/Melancholic/Choose'">Return to Melancholic</button>
    </li>



    <li>
        <button class="btn btn-default" onclick="location.href='/'">Return to Index</button>
    </li>


</ul>