@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<h3>Please leave us your comments</h3>


<form action="@Url.Action("RecibirContacto", "Home")" method="post">
    <div class="row">
        <div class="form-group col-md-4">
            <label for="nombre">Name: </label>
            <input name="nombre" class="form-control" type="text" placeholder="Please enter your name..." required>
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            <label for="email">Email:</label>
            <input name="mail" class="form-control" aria-describedby="emailHelp" placeholder="Please enter your email..." required>
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-4">
            <label for="mensaje">Message: </label>
            <textarea name="mensaje" class="form-control" rows="3" required></textarea>
        </div>
    </div>

        <button type="submit" class="btn btn-primary">Enviar</button>
</form>


