@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <link href="~/Content/hover.css" rel="stylesheet" media="all">
</head>

<body>
    <h1>Music-Movie</h1>
    <br>
    <br>
   
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-6">
                <h3 id="happy">Happy</h3>
            </div>

            <div class="col-md-6 col-xs-6">
                <h3 id="passionate">Passionate</h3>
            </div>
        </div>


        <ul class="menu">
            <li class="hvr-glow hvr-glow:hover hvr-glow:focus hvr-glow:active" data-toggle="modal" data-target="#myModal"></li>
            <li class="hvr-glow hvr-glow:hover hvr-glow:focus hvr-glow:active" data-toggle="modal" data-target="#myModal"></li>
            <li class="hvr-glow hvr-glow:hover hvr-glow:focus hvr-glow:active" data-toggle="modal" data-target="#myModal"></li>
            <li class="hvr-glow hvr-glow:hover hvr-glow:focus hvr-glow:active" data-toggle="modal" data-target="#myModal"></li>
        </ul>


        <div class="row">

            <div class="col-md-6 col-xs-6">
                <h3 id="melancholic">Melancholic</h3>
            </div>

            <div class="col-md-6 col-xs-6">
                <h3 id="peaceful">Peaceful</h3>
            </div>
        </div>


        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Choose a movie or a song</h4>
                    </div>
                    <div class="modal-body">
                        
                        <button class="btn btn-default"><img id="movie" src="~/Content/Imagenes/clapperboard.png" /></button>
                        <br>
                        <br>
                        <button class="btn btn-default"><img id="song" src="~/Content/Imagenes/headphones.png" /></button>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

    </div>


</body>

</html>