@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
</head>

<body>
    <h1>Music-Movie</h1>
    <ul class="menu">
        <li>Alegre</li>
        <li>Apasionado</li>
        <li>Depresivo</li>
        <li>Tranquilo</li>

    </ul>

</body>

</html>