@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet">
</head>

<body>
    <h1>Music-Movie</h1>
    <div></div>
        <div class="contenedor">
            <h3 id="alegre">Alegre</h3>
            <h3 id="apasionado">Apasionado</h3>
            <h3 id="depresivo">Depresivo</h3>
            <h3 id="tranquilo">Tranquilo</h3>

        </div>

        <ul class="menu">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
   

</body>

</html>