
@{
    ViewBag.Title = "Choose";
}

<h2>Choose a Movie or a Song</h2>
<br />
<br />

<div class="row">
    <div class="col-md-6">
        <button class="btn btn-default" onclick="location.href='/RandomMovie/RandomPassionate'"><img id="movie" src="~/Content/Imagenes/clapperboard.png" /></button>
    </div>
    <div class="col-md-6">
    <button class="btn btn-default" onclick="location.href='/RandomSong/RandomPassionate'"><img id="song" src="~/Content/Imagenes/headphones.png" /></button>
    </div>
</div>

<br />
<button class="btn btn-default" onclick="location.href='/'">Return to Index</button>