        body{
            padding-top: 50px;
        }

        h1 {
            font-family: 'Pacifico', cursive;
            text-align: center;
            font-size: 100px;
        }

        a.navbar-brand {
            font-family: 'Comfortaa', cursive;
            font-weight: bold;
        }

        h3 {
            font-family: 'PT Sans', sans-serif;
        }

        #subtitle{
            text-align:center;
        }

         li {
            font-family: 'Comfortaa', cursive;
        }

        .sign-in {
            float: right;
            margin-top: 0.5em;
            margin-right: 0.5em;
        }
        .register {
            float: right;
            margin-top: 0.5em;
        }
        #happy {
            text-align: right;
            padding-right: 2em;
        }

        #passionate {
            text-align:left; 
            padding-left: 2em;
        }

        #melancholic {
            text-align: right;
            padding-right: 2em;
        }

        #peaceful {
            text-align: left;
            padding-left: 2em;
        }

 

         ul.menu {
            margin: 0px auto;
            padding: 0;
            position: relative;
            width: 20em;
            height: 20em;
            border-radius: 100%;
        }

        ul.menu li {
            position: absolute;
            list-style: none;
            width: 10em;
            height: 10em;
            text-align: center;
            line-height: 9em;
            /* opacity:0.5; */
            -webkit-transition: all 0.5s ease;
            -moz-transition: all 0.5s ease;
            transition: all 0.5s ease;
        }

        ul li:hover {
            cursor: pointer;
        }

        ul.menu li:nth-child(1) {
            top: 0;
            left: 0;
            background: #0f9;
            border-top-left-radius: 100%;
        }

        ul.menu li:nth-child(2) {
            top: 0em;
            left: 10em;
            background: #f09;
            border-top-right-radius: 100%;
        }

       ul.menu li:nth-child(3) {
            top: 10em;
            left: 0;
            background: #09f;
            border-bottom-left-radius: 100%
        }

        ul.menu li:nth-child(4) {
            top: 10em;
            left: 10em;
            background: #90f;
            border-bottom-right-radius: 100%
        }


        #movie {
            height: 40%;
            width: 40%;
            position:relative;
            margin-left:1em;

        }

        
        #song {
            height: 40%;
            width: 40%;
            position: relative;
            margin-left: 1em;
        }
       
        .modal-body{
            text-align: center;
        }


        th {
            background-color: #99bbff;
        }

        td {
            background-color: #b3d9ff;
        }

        iframe {
            margin: auto;
        }


        .containerHappy {
            background-color: #0f9;
            border-radius: 20px;
            padding: 10px;
            text-align: center;
        }

        .containerPassionate {
            background-color: #f09;
            border-radius: 20px;
            padding: 10px;
            text-align: center;
        }

        .containerMelancholic {
            background-color: #09f;
            border-radius: 20px;
            padding: 10px;
            text-align: center;
        }

        .containerPeaceful {
            background-color: #90f;
            border-radius: 20px;
            padding: 10px;
            text-align: center;
        }



