@using WebApplication2.Models
@model IEnumerable<WebApplication2.Models.Movie>

@{
    ViewBag.Title = "Movie";
}


<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script>
    $(document).ready(function () {
        $("#mostrarmodal").modal("show");
    });
</script>


<h2>View</h2>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Choose a movie or a song</h4>
            </div>
            <div class="modal-body">

                @foreach (var item in Model)
                {
                        <p>
                            @Html.DisplayFor(modelItem => item.Name)
                        </p>
                        <p>
                            @Html.DisplayFor(modelItem => item.Description)
                        </p>
                        <p>
                         <iframe width="420" height="315" src="@item.Link" )></iframe>

                            @Html.DisplayFor(modelItem => item.Link)
                        </p>
                }





</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>