
@{
    ViewBag.Title = "Choose";
}

<h2>Choose</h2>

<div class="row">
    <button class="btn btn-default"><img id="movie" src="~/Content/Imagenes/clapperboard.png"  onclick="location.href='/RandomMovie/Peaceful'"/></button>
</div>
<div class="row">
    <button class="btn btn-default"><img id="song" src="~/Content/Imagenes/headphones.png" /></button>
</div>